.home_sidebarContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -50rem;
    top: 100px;
    width: 30%;
    height: calc(100% - 145px);
    background-color: #E4E9EE;
    transition: transform 0.3s ease;
    padding: 1.5rem;
    border-left: 2px solid #666666;
    overflow: auto;
}

.home_sidebarContainer.open {
    transform: translateX(-50rem);
}

.sidebar_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#event_confirmation_text_inner {
    margin: 0px;
    color: red;
}

.event_confirmation_text {
    display: flex;
    justify-content: right;
    margin-bottom: 1rem;
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#addButton {
    width: 3rem;
}

#closeButton,
#calendarButton {
    width: 3rem;
}

#closeIcon {
    font-size: 2rem;
    color: #000;
}

#addIcon {
    font-size: 2rem;
    color: #000;
}

.sidebar_title {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-family: 'Jetbrains Mono', monospace;
    font-weight: 600;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
}

.sidebar_location {
    display: flex;
    font-size: 1rem;
    font-family: 'Jetbrains Mono', monospace;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
}

.sidebar_description {
    display: flex;
    font-size: 1rem;
    font-family: 'Jetbrains Mono', monospace;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    margin-top: 1rem;
}

.sidebar_date {
    margin-bottom: 0;
    /* Override the existing margin */
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    background-color: white;
}

.sidebar_time {
    margin-bottom: 1rem;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    background-color: white;
    width: 38%;
}

.sidebar_timeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sidebar_timeContainer p {
    font-size: 1rem;
    font-family: 'Jetbrains Mono', monospace;
    font-weight: 600;
    margin: 0 0 1rem 0;
}

.sidebar_tasks {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding-bottom: 2rem;
    border-bottom: 2px solid #a0a0a0;
    margin-bottom: 1.5rem;
}

.sidebar_taskInput {
    display: flex;
    font-size: 1rem;
    font-family: 'Jetbrains Mono', monospace;
    font-weight: bold;
    border: none;
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    margin-top: 1rem;
}

.sidebar_links {
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #a0a0a0;
    padding-bottom: 2rem;
}

.sidebar_budget {
    display: flex;
    flex-direction: column;
}

.budget_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.budget_item label {
    font-weight: 600;
    width: 12rem;
}

.budget_item input {
    border: none;
    background-color: white;
    font-size: 1rem;
    font-family: 'Jetbrains Mono', monospace;
    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
    border-radius: 0.625rem;
    width: 5rem;
}

.sidebar_content input:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2684ff;
}

.budget_net {
    margin-left: 1.25rem;
}

.sidebar_dateTagContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar_tagDropdown {
    flex: 1;
    min-width: 120px;
}

.sidebar_newTagContainer {
    display: flex;
    width: 100%;
}

.sidebar_tagInput {
    display: flex;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.625rem;
    background-color: white;
    font-family: 'Jetbrains Mono', monospace;
}

.sidebar_tagInput:focus {
    outline: none;
    box-shadow: 0 0 0 2px #2684ff;
}

.calendar_confirmation_prompt {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 0.625rem;
}

#confirmation_button {
    color: #000;
    border-color: #000;
    height: 2rem;
    margin-top: 0.65rem;
    font-family: 'Jetbrains Mono', monospace;
}

#cancellation_button {
    color: red;
    border-color: red;
    height: 2rem;
    margin-top: 0.65rem;
    font-family: 'Jetbrains Mono', monospace;
}

.event_deletion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.delete_event_prompt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    background-color: white;
    border-radius: 0.625rem;
    width: 35rem;
}

#delete_event_button {
    width: 20rem;
    height: 2.5rem;
    border: 2px solid red;
    color: red;
    font-size: 20px;
    margin: none;
}

.button_field {
    margin-bottom: 1rem;
    padding: none;
    width: 35rem;
    /* border-style: solid; */
    display: flex;
    justify-content: space-evenly;
}

#confirmation_button2 {
    color: white;
    border: 2px solid white;
    background-color: red;
    width: 12rem;
    height: 3rem;
    /* margin-top: 0.65rem; */
    font-family: 'Jetbrains Mono', monospace;
}

#cancellation_button2 {
    color: #000;
    border-color: #000;
    width: 12rem;
    height: 3rem;
    /* margin-top: 0.65rem; */
    font-family: 'Jetbrains Mono', monospace;
}

#link_title {
    font-family: 'Jetbrains-Mono', monospace;
}

#link_container {
    margin: 1rem;
}

.link_assignee_container {
    display: flex;
    gap: 10px;
}

#link_details_container {
    color: black;
    background-color: #E4E9EE;
    margin: 5px;
    margin-top: 0px;
    border-radius: 5px;
}

.link_assignee_dropdown {
    width: 20rem;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.assignee_init_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#confirmation_button3 {
    width: 6rem;
    height: 2rem;
    color: black;
    border: 3px solid black;
}

#cancellation_button3 {
    width: 6rem;
    height: 2rem;
    color: red;
    border: 3px solid red;
}

.link_button_container {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.link_input_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#delete_link_button {
    margin: 1px;
    height: 2.5rem;
    width: 15rem;
    color: red;
    border: 2px solid red;
}

.delete_button_container {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}